{{> section-heading title='Font Size'}}
  
<table>
  <thead>
    <td class="heading-identifier">Identifier</td>
    <td class="heading-value center">Value</td>
    <td class="heading-example center">Example</td>
  </thead>
  <tbody>
    {{#each font-size}}
      <tr class="font">
        <td class="identifier">
          <ul>
            <li><span>CSS</span> <code>{{ attributes.identity.css.customProperty }}</code></li>
            <li><span>SCSS</span> <code>{{ attributes.identity.css.scssVariable }}</code></li>
          </ul>
        </td>
        <td class="value"><pre>{{ value }} /*{{ original.value }}*/</pre></td>
        <td class="example">
          <div style="font-size: var({{ attributes.identity.css.customProperty }}); text-align: center;">Aa</div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
