{{> section-heading title='Letter Spacing'}}
  
<table>
  <thead>
    <td class="heading-identifier">Identifier</td>
    <td class="heading-value center">Value</td>
    <td class="heading-example center">Example</td>
  </thead>
  <tbody>
    {{#each letter-spacing}}
      <tr class="font">
        <td class="identifier">
          <ul>
            <li><span>CSS</span> <code>{{ attributes.identity.css.customProperty }}</code></li>
            <li><span>SCSS</span> <code>{{ attributes.identity.css.scssVariable }}</code></li>
          </ul>
        </td>
        <td class="value"><pre>{{ value }}  ({{ original.value }})</pre></td>
        <td class="example">
          <div style="padding: '15px'; letter-spacing: var({{ attributes.identity.css.customProperty }});">
              <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
